/*
  fonts
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


/*
  css reset https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-size: 18px;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  theme vars
*/

:root {
  --colorText: #ffffff;
  --colorText2: rgb(87, 216, 255);
  --colorText3: rgb(0 195 255);
  --colorText4: rgb(87 113 132);
  --colorBack: rgb(14, 21, 27);
  --colorBack2: rgb(24, 35, 45);
  --colorBack3: rgb(32, 48, 64);
  --colorBack4: rgb(41, 62, 83);
}

/*
  app style
*/

html,
body {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.6em;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  background-color: var(--colorBack);
  color: var(--colorText);
}

#root {
  height: 100%;
}

::selection {
  background: var(--colorText2);
  color: var(--colorBack);
}

a {
  color: var(--colorTextLink);
  text-decoration: none;
}

a:hover {
  color: var(--colorText);
  text-decoration: underline;
}

p {
  margin: 0 0 16px;
}